.card {
  font-family: Helvetica, Sans-serif, verdana;
  border: 2px solid  #660066;
  max-width: 300px;
  box-shadow: 10px 10px 5px 2px  #e0e0eb;
  padding: 5px 11px 10px 10px;
  background-color: #F7F2F7;
}
h1{
  font-size: x-large;
}
img {
  max-width: 300px;
  border: 1px solid #660066;
  border-radius: 3px;
  margin-bottom: 15px;
}

.overview {
  border: 1px solid #660066;
  border-radius: 3px;
  text-align: justify;
  padding: 10px;
  font-size:small;
}
.facts {
  font-style: italic;
}

ul {
  padding-left: 0px;
}
.items{
  list-style: none;
}

.labels{
  font-weight: bold;
}

.description {
  margin-bottom: 15px;
}
